.exitoso {
  background-color: #e5e5e5;
  height: 50vh;
  margin: 0 auto;
  width: 100%;
}
.exitosoContainer {
  text-align: center;
  height: fit-content;
  padding-top: 7vh;
}
.exitosoContainer i {
  color: green;
  font-size: 10vh;
  margin-bottom: 3vh;
}
.exitoso h1 {
  color: #464646;
  font-family: "Raleway", sans-serif;
  font-size: 5vw;
  font-weight: 700;
  height: fit-content;
  margin: auto auto;
}

.exitoso button {
  background-color: #2a7ae4;
  border-color: #2a7ae4;
  border-style: solid;
  border-width: 1px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 5vh;
  height: 9vh;
  margin-top: 2vh;
  min-width: fit-content;
  width: 40vw;
}
.exitoso button:hover {
  transform: scale(1.05, 1.05);
  transition: 100ms;
}
.exitoso button:active {
  background-color: #2a6aff;
  transition: 200ms;
}
